// ESTILO DE NAVEGADOR-PRUEBA EN NAVBAR-RIGHT.JS
.navegador-principal {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.navegador-izquierdo {
    .navegador-principal {
    list-style-type: none;
    padding: 0;

    .navegador-item {
        position: relative;
        cursor: pointer; // Cambiar el cursor para indicar interactividad
        

        &:hover {
            border-bottom: 1px solid black;
            transition: all 1s ease-in-out;
        }

        .navegador-subcategoria {
        display: none; // ocultamos subcategorías por defecto
        list-style-type: none;
        position: absolute;
        right: 0;

        &:hover {
            background-color: $rosa-oscuro; // Color al hacer hover
        }

        .navegador-subitem {
            margin-bottom: 10px;
            text-align: right;
            padding-top: 10px;

            &:hover {
                border-bottom: 1px solid black;
                transition: all 1s ease-in-out;
            }

            a {
            text-decoration: none;
            color: #000;
            }
        }
        }

        // Mostrar las subcategorías al hacer clic en "Productos"
        &:hover .navegador-subcategoria {
        display: block; // Mostrar subcategorías al pasar el mouse
        }
    }  
    }
}
// FIN ESTILOS NAVBAR-RIGHT-JS



.imagen-cesta {
    width: 100px;
    margin-right: 10px;
}



.producto-cesta {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    text-align: left;
    gap: 10px;

}

.info-cliente {
    background-color: $marroncito;
}

.contenido-cesta {
    background-color: $marroncito;
}

.cesta {
    width: 100%;
    text-align: center;
}

.cesta-y-pago {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
}

.nombre-cantidad-precio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    box-shadow: 0px 10px 6px -3px rgba(219,181,181,1);

}

.columna-fila {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: left;
}

.fila-fila {
    display: flex;
    flex-direction: row;
}


@media (max-width: 717px) {

    .cesta-y-pago {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

}

.nombre-producto-cesta {
    text-transform: uppercase;
}

.cantidad-precio-cesta  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    gap: 10px;
}

.precio-subtotal-cesta p{
    font-weight: 900;
}


.about {
    text-align: center;
}

.anillos {
    text-align: center;
}

.cuadros {
    text-align: center;
}

.outlet {
    text-align: center;
}

.productos {
    text-align: center;
}