// CORREGIDO 28/09/2021

@mixin button($color) {
    width: 100%;
    background-color: $color;
    color: black;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    gap: 8px;
}


@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}