.subcontenedor-navegador {
    @include flex-column;
    padding: 10px;
    background-color: #037b73;
    align-items: center;

    .navegador-general {
        @include flex-row;
        gap: 20px;
        
        .navegador {
            @include flex-row;
            width: 100%;
            font-size: 1.2em;
            gap: 20px;
            align-items: center;
        
            a {
                text-decoration: none;
                color: black;
                font-weight: bold;
            }
        }
    }
}


@media (max-width: 513px) {
    .contenedor-productos-api {
        grid-template-columns: 1fr 1fr;
    }

    .navegador-general {
        font-size: 0.70em;
    }

    .logo-gemini {
        height: 90px;
    }
}