/* COLORES */

$beige: #F1e5D1;
$rosa-claro: #DBB5B5;
$rosa-oscuro: #C39898;
$marroncito: #987070;


$color-base:  #D2C3B5;
$color-secundario: #988787;
$color-textos: #00544e; 
$color-parrafos:  #36454F;
